/* General Body Styling */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


/* General Body Styling */
body {
  background-color: #ffeadb;
  color: #3e2723;
}

/* Main content should take up all available space */
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Footer Styling */
.footer {
  background: #2d2d2d;
  color: white;
  padding: 2rem 0;
  text-align: center;
  width: 100%;
}

.footer a {
  color: #ffd700;
  text-decoration: none;
  margin: 0 10px;
}

.footer a:hover {
  color: #ff4500;
}

.footer .social-icons {
  margin: 1rem 0;
}

.footer .social-icons a {
  margin: 0 10px;
}

.footer .social-icons i {
  font-size: 1.5rem;
}

.footer p {
  margin-bottom: 0;
}

/* Navbar Styling */
.navbar {
  background-color: #474853;
  padding: 0 15px;
  z-index: 1030;
  width: 100%;
}

.navbar-brand img.navbar-logo {
  max-width: 100%;
  height: auto;
  width: auto;
}

@media (min-width: 992px) {
  .navbar-brand img.navbar-logo {
    width: 150px;
  }
}

@media (max-width: 991px) {
  .navbar-brand img.navbar-logo {
    width: 100px;
  }
}

@media (max-width: 576px) {
  .navbar-brand img.navbar-logo {
    width: 75px;
  }
}

.navbar-nav .nav-link,
.navbar .btn {
  padding: 8px 15px;
  margin-right: 10px;
  line-height: 1.5;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
}

.navbar .btn {
  background-color: #318fb5;
  color: #ffffff;
}

.navbar .btn:hover {
  background-color: #ffc107;
}

.navbar-nav .nav-link {
  border: none;
  color: #fff;
}

.navbar-collapse {
  width: 100%;
}

.navbar + .container, .navbar + [class*="container-"] {
  margin-top: 60px;
}

@media (max-width: 768px) {
  .card-body {
    padding: 20px;
  }

  .font-handwriting {
    font-size: 20px;
  }

  .btn {
    width: 100%;
  }

  .navbar {
    padding: 0 10px;
  }
}

@media (max-width: 992px) {
  .card {
    margin: 20px 10px;
  }

  .navbar-collapse {
    margin-top: 10px;
  }

  .navbar .btn {
    width: 100%;
    margin-top: 5px;
  }

  .navbar-nav .nav-link,
  .navbar .btn {
    margin-right: 0;
  }
}
