.product-name {
  display: inline-block;
  width: 150px;
}

.font-bebas {
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 1.6px;
}

body {
  font-family: 'Montserrat', sans-serif;
}

/* Change the white to any color ;) */

/* Change the white to any color ;) */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #474853 inset !important;
}

/*Change text in autofill textbox*/

input:-webkit-autofill {
  -webkit-text-fill-color: #ffffff !important;
}

.border-box {
  box-sizing: padding-box;
}

button > .active {
  color: #ffffff;
}

.wid {
  width: 75%;
}

.disp-bot-box {
  display: none;
}

.mar-mob {
  margin-left: 0;
  padding-left: 0;
}

@media screen and (max-width: 997px) {
  .disp-right-box {
    display: none;
  }
  .disp-bot-box {
    display: block;
  }
  .wid {
    width: 100%;
  }
  .fle {
    display: flex;
    flex-direction: column;
  }
  .mob-height {
    height: 75%;
  }
  .flex-dir {
    display: flex;
    justify-content: flex-start;
  }
}

@media screen and (min-width: 997px) {
  .sticky {
    position: sticky;
    top: 0;
    z-index: 1;
  }
}
