.product-name {
  display: inline-block;
  width: 150px;
}

.font-bebas {
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 1.5px;
}

body {
  font-family: 'Montserrat', sans-serif;
}

/* Change the white to any color ;) */

/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #474853 inset !important;
}
/*Change text in autofill textbox*/
input:-webkit-autofill {
  -webkit-text-fill-color: #ffffff !important;
}

.border-box {
  box-sizing: padding-box;
}

button > .active {
  color: #ffffff;
}
